<?xml version="1.0" encoding="UTF-8"?>
<!--  Aqui configuramos los valores para las corridas -->
<!--  Cada ejecucion se realiza por medio de la clase Main  -->
<config>
	<population>100</population>
	<mutationRate>100</mutationRate>
	<vueltas>100</vueltas>
	<nadadoresCroll>10</nadadoresCroll>
	<nadadoresPecho>20</nadadoresPecho>
	<nadadoresFarkel>30</nadadoresFarkel>
	<nadadoresEspalda>40</nadadoresEspalda>
	<nadadoresMariposa>60</nadadoresMariposa>
	<indiceGrasaCorporal>20.0</indiceGrasaCorporal>
</config>