<?xml version="1.0" encoding="UTF-8"?>
<!--  Aqui configuramos los valores para las corridas -->
<!--  Cada ejecucion se realiza por medio de la clase Main  -->
<config>
	<population>100</population>
	<mutationRate>100</mutationRate>
	<vueltas>100</vueltas>
	<nadadoresCroll>1</nadadoresCroll>
	<nadadoresPecho>1</nadadoresPecho>
	<nadadoresFarkel>30</nadadoresFarkel>
	<nadadoresEspalda>1</nadadoresEspalda>
	<nadadoresMariposa>2</nadadoresMariposa>
</config>